---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  chartRef:
    kind: OCIRepository
    name: authentik
  interval: 1h
  values:
    authentik:
      error_reporting:
        enabled: false
      postgresql:
        host: postgres-cluster-rw.database.svc.cluster.local
        user: file:///postgres-creds/username
        password: file:///postgres-creds/password

    prometheus:
      rules:
        enabled: true

    server:
      envFrom:
        - secretRef:
            name: authentik-secret
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      route:
        main:
          enabled: true
          hostnames:
            - "sso.${SECRET_DOMAIN}"
          parentRefs:
            - name: internal
              namespace: kube-system
              sectionName: https
      volumes: &volumes
        - name: postgres-creds
          secret:
            secretName: postgres-cluster-app
      volumeMounts: &volumeMounts
        - name: postgres-creds
          mountPath: /postgres-creds
          readOnly: true

    worker:
      envFrom:
        - secretRef:
            name: authentik-secret
      volumes: *volumes
      volumeMounts: *volumeMounts
