---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
components:
  - ../../components/alerts
  - ../../components/common
resources:
  - ./fluent-bit/ks.yaml
  - ./gatus/ks.yaml
  - ./grafana/ks.yaml
  - ./kromgo/ks.yaml
  - ./loki/ks.yaml
  - ./unpoller/ks.yaml
  - ./victoria-logs/ks.yaml
  - ./victoria-metrics-k8s-stack/ks.yaml
