---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/tuppr.home-operations.com/kubernetesupgrade_v1alpha1.json
apiVersion: tuppr.home-operations.com/v1alpha1
kind: KubernetesUpgrade
metadata:
  name: kubernetes
spec:
  kubernetes:
    # renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
    version: v1.35.2
  maintenance:
    windows:
      - duration: 8h
        start: 0 0 * * 1-5
        timezone: America/Chicago
  healthChecks:
    - apiVersion: postgresql.cnpg.io/v1
      kind: Cluster
      expr: |-
        status.conditions.filter(c, c.type == "Ready").all(c, c.status == "True")
    - apiVersion: longhorn.io/v1beta2
      kind: Volume
      namespace: longhorn-system
      expr: |-
        (status.state == "attached" && status.robustness == "healthy") ||
        (status.state != "attached")
