---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/tuppr.home-operations.com/talosupgrade_v1alpha1.json
apiVersion: tuppr.home-operations.com/v1alpha1
kind: TalosUpgrade
metadata:
  name: talos
spec:
  talos:
    # renovate: datasource=docker depName=ghcr.io/siderolabs/installer
    version: v1.12.0
  policy:
    rebootMode: powercycle
  healthChecks:
    - apiVersion: postgresql.cnpg.io/v1
      kind: Cluster
      expr: |-
        status.conditions.filter(c, c.type == "Ready").all(c, c.status == "True")
    - apiVersion: longhorn.io/v1beta2
      kind: Volume
      namespace: longhorn-system
      expr: |-
        (status.state == "attached" && status.robustness == "healthy") ||
        (status.state != "attached")
