---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 5m
  url: https://charts.longhorn.io
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  chart:
    spec:
      chart: longhorn
      sourceRef:
        kind: HelmRepository
        name: longhorn
      version: 1.11.0
  interval: 5m
  values:
    defaultBackupStore:
      backupTarget: cifs://construct.${SECRET_DOMAIN}/backups/longhorn?cifsOptions=rsize=65536,wsize=65536,soft
      backupTargetCredentialSecret: cifs-secret
    defaultSettings:
      concurrentReplicaRebuildPerNodeLimit: "1"
      defaultDataEngine: v1
      defaultDataLocality: best-effort
      defaultDataPath: /var/mnt/longhorn
      defaultReplicaCount: "3"
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      nodeDrainPolicy: block-if-contains-last-replica
      replicaAutoBalance: best-effort
      storageMinimalAvailablePercentage: "5"
      storageOverProvisioningPercentage: "100"
      storageReservedPercentageForDefaultDisk: "0"
    ingress:
      enabled: false
    metrics:
      serviceMonitor:
        enabled: true
    persistence:
      defaultClass: true
      defaultClassReplicaCount: 3
      defaultDataLocality: best-effort
      defaultFsType: xfs
