---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: onepassword
spec:
  interval: 15m
  url: https://1password.github.io/connect-helm-charts/
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onepassword
spec:
  interval: 1h
  chart:
    spec:
      chart: connect
      sourceRef:
        kind: HelmRepository
        name: onepassword
      version: 2.1.1
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    connect:
      create: true
      api:
        imageRepository: ghcr.io/1password/connect-api
        serviceMonitor:
          enabled: true
      sync:
        imageRepository: ghcr.io/1password/connect-sync
        serviceMonitor:
          enabled: true
    operator:
      create: false
