---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onepassword
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: onepassword
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    connect:
      create: true
      api:
        imageRepository: ghcr.io/1password/connect-api
        serviceMonitor:
          enabled: true
      sync:
        imageRepository: ghcr.io/1password/connect-sync
        serviceMonitor:
          enabled: true
    operator:
      create: false
