---
version: 1
metadata:
  name: Forejo OAuth2 Provider and Application
context:
  authorization_flow: &authorization_flow !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
  property_mappings: &property_mappings
    - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
    - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]
    - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]
  signing_key: &signing_key !Find [authentik_crypto.certificatekeypair, [name, authentik Self-signed Certificate]]
entries:
  # OAuth2 Provider for Forejo
  - model: authentik_providers_oauth2.oauth2provider
    identifiers:
      name: forejo
    attrs:
      name: forejo
      authorization_flow: *authorization_flow
      client_type: confidential
      client_id: !Env FOREJO_CLIENT_ID
      client_secret: !Env FOREJO_CLIENT_SECRET
      redirect_uris: |
        https://git.{{ env "SECRET_DOMAIN" }}/user/oauth2/authentik/callback
      property_mappings: *property_mappings
      signing_key: *signing_key

  # Application for Forejo
  - model: authentik_core.application
    identifiers:
      slug: forejo
    attrs:
      name: Forejo
      slug: forejo
      provider: !Find [authentik_providers_oauth2.oauth2provider, [name, forejo]]
      policy_engine_mode: any
      meta_icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/forejo.svg
      meta_description: Self-hosted Git service
      meta_publisher: Forejo
      open_in_new_tab: true

  # Group for Forejo admins
  - model: authentik_core.group
    identifiers:
      name: forejo-admins
    attrs:
      name: forejo-admins
      is_superuser: false
