---
version: 1
metadata:
  name: Grafana OAuth2 Provider and Application
entries:
  # OAuth2 Provider for Grafana
  - model: authentik_providers_oauth2.oauth2provider
    identifiers:
      name: grafana
    attrs:
      name: grafana
      authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
      client_type: confidential
      client_id: !Env GRAFANA_CLIENT_ID
      client_secret: !Env GRAFANA_CLIENT_SECRET
      redirect_uris: |
        https://grafana.{{ env "SECRET_DOMAIN" }}/login/generic_oauth
      property_mappings:
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]
      signing_key: !Find [authentik_crypto.certificatekeypair, [name, authentik Self-signed Certificate]]

  # Application for Grafana
  - model: authentik_core.application
    identifiers:
      slug: grafana
    attrs:
      name: Grafana
      slug: grafana
      provider: !Find [authentik_providers_oauth2.oauth2provider, [name, grafana]]
      policy_engine_mode: any
      meta_icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/grafana.svg
      meta_description: Metrics and dashboards
      meta_publisher: Grafana Labs
      open_in_new_tab: true

  # Group for Grafana admins
  - model: authentik_core.group
    identifiers:
      name: grafana-admins
    attrs:
      name: grafana-admins
      is_superuser: false

  # Group for Grafana editors
  - model: authentik_core.group
    identifiers:
      name: grafana-editors
    attrs:
      name: grafana-editors
      is_superuser: false
