---
version: 1
metadata:
  name: Harbor OAuth2 Provider and Application
entries:
  # OAuth2 Provider for Harbor
  - model: authentik_providers_oauth2.oauth2provider
    identifiers:
      name: harbor
    attrs:
      name: harbor
      authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
      client_type: confidential
      client_id: !Env HARBOR_CLIENT_ID
      client_secret: !Env HARBOR_CLIENT_SECRET
      redirect_uris: |
        https://harbor.{{ env "SECRET_DOMAIN" }}/c/oidc/callback
      property_mappings:
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]
      signing_key: !Find [authentik_crypto.certificatekeypair, [name, authentik Self-signed Certificate]]

  # Application for Harbor
  - model: authentik_core.application
    identifiers:
      slug: harbor
    attrs:
      name: Harbor
      slug: harbor
      provider: !Find [authentik_providers_oauth2.oauth2provider, [name, harbor]]
      policy_engine_mode: any
      meta_icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/harbor.svg
      meta_description: Container registry
      meta_publisher: Harbor
      open_in_new_tab: true

  # Group for Harbor admins
  - model: authentik_core.group
    identifiers:
      name: harbor-admins
    attrs:
      name: harbor-admins
      is_superuser: false
