---
# yaml-language-server: $schema=https://www.talos.dev/v1.14/schemas/config.schema.json
version: v1alpha1
debug: false
persist: true
machine:
  ca:
    crt: op://Zion/Talos/MACHINE_CA_CRT
  token: op://Zion/Talos/MACHINE_TOKEN
  certSANs:
    - 127.0.0.1
    - 10.60.8.10
  kubelet:
    image: ghcr.io/siderolabs/kubelet:{{ kubernetes_version }}
    extraMounts:
      - destination: /var/mnt/local-hostpath
        type: bind
        source: /var/mnt/local-hostpath
        options:
          - bind
          - rshared
          - rw
    extraConfig:
      imageGCHighThresholdPercent: 70
      imageGCLowThresholdPercent: 60
      serializeImagePulls: false
    defaultRuntimeSeccompProfileEnabled: true
  features:
    diskQuotaSupport: true
  seccompProfiles:
    - name: buildkit.json
      value:
        defaultAction: SCMP_ACT_ERRNO
        architectures:
          - SCMP_ARCH_X86_64
          - SCMP_ARCH_X86
          - SCMP_ARCH_X32
        syscalls:
          # --- containerd/moby runtime-default unconditional allow set ---
          - action: SCMP_ACT_ALLOW
            names:
              - accept
              - accept4
              - access
              - adjtimex
              - alarm
              - arch_prctl
              - bind
              - brk
              - capget
              - capset
              - chdir
              - chmod
              - chown
              - chown32
              - clock_adjtime
              - clock_adjtime64
              - clock_getres
              - clock_getres_time64
              - clock_gettime
              - clock_gettime64
              - clock_nanosleep
              - clock_nanosleep_time64
              - close
              - close_range
              - connect
              - copy_file_range
              - creat
              - dup
              - dup2
              - dup3
              - epoll_create
              - epoll_create1
              - epoll_ctl
              - epoll_ctl_old
              - epoll_pwait
              - epoll_pwait2
              - epoll_wait
              - epoll_wait_old
              - eventfd
              - eventfd2
              - execve
              - execveat
              - exit
              - exit_group
              - faccessat
              - faccessat2
              - fadvise64
              - fadvise64_64
              - fallocate
              - fanotify_mark
              - fchdir
              - fchmod
              - fchmodat
              - fchmodat2
              - fchown
              - fchown32
              - fchownat
              - fcntl
              - fcntl64
              - fdatasync
              - fgetxattr
              - flistxattr
              - flock
              - fork
              - fremovexattr
              - fsetxattr
              - fstat
              - fstat64
              - fstatat64
              - fstatfs
              - fstatfs64
              - fsync
              - ftruncate
              - ftruncate64
              - futex
              - futex_time64
              - futex_waitv
              - futimesat
              - getcpu
              - getcwd
              - getdents
              - getdents64
              - getegid
              - getegid32
              - geteuid
              - geteuid32
              - getgid
              - getgid32
              - getgroups
              - getgroups32
              - getitimer
              - getpeername
              - getpgid
              - getpgrp
              - getpid
              - getppid
              - getpriority
              - getrandom
              - getresgid
              - getresgid32
              - getresuid
              - getresuid32
              - getrlimit
              - get_robust_list
              - getrusage
              - getsid
              - getsockname
              - getsockopt
              - get_thread_area
              - gettid
              - gettimeofday
              - getuid
              - getuid32
              - getxattr
              - inotify_add_watch
              - inotify_init
              - inotify_init1
              - inotify_rm_watch
              - io_cancel
              - ioctl
              - io_destroy
              - io_getevents
              - io_pgetevents
              - io_pgetevents_time64
              - ioprio_get
              - ioprio_set
              - io_setup
              - io_submit
              - io_uring_enter
              - io_uring_register
              - io_uring_setup
              - ipc
              - kill
              - landlock_add_rule
              - landlock_create_ruleset
              - landlock_restrict_self
              - lchown
              - lchown32
              - lgetxattr
              - link
              - linkat
              - listen
              - listxattr
              - llistxattr
              - _llseek
              - lremovexattr
              - lseek
              - lsetxattr
              - lstat
              - lstat64
              - madvise
              - membarrier
              - memfd_create
              - memfd_secret
              - mincore
              - mkdir
              - mkdirat
              - mknod
              - mknodat
              - mlock
              - mlock2
              - mlockall
              - mmap
              - mmap2
              - modify_ldt
              - mprotect
              - mq_getsetattr
              - mq_notify
              - mq_open
              - mq_timedreceive
              - mq_timedreceive_time64
              - mq_timedsend
              - mq_timedsend_time64
              - mq_unlink
              - mremap
              - msgctl
              - msgget
              - msgrcv
              - msgsnd
              - msync
              - munlock
              - munlockall
              - munmap
              - name_to_handle_at
              - nanosleep
              - newfstatat
              - _newselect
              - open
              - openat
              - openat2
              - pause
              - pidfd_open
              - pidfd_send_signal
              - pipe
              - pipe2
              - pkey_alloc
              - pkey_free
              - pkey_mprotect
              - poll
              - ppoll
              - ppoll_time64
              - prctl
              - pread64
              - preadv
              - preadv2
              - prlimit64
              - process_mrelease
              - pselect6
              - pselect6_time64
              - pwrite64
              - pwritev
              - pwritev2
              - read
              - readahead
              - readlink
              - readlinkat
              - readv
              - recv
              - recvfrom
              - recvmmsg
              - recvmmsg_time64
              - recvmsg
              - remap_file_pages
              - removexattr
              - rename
              - renameat
              - renameat2
              - restart_syscall
              - rmdir
              - rseq
              - rt_sigaction
              - rt_sigpending
              - rt_sigprocmask
              - rt_sigqueueinfo
              - rt_sigreturn
              - rt_sigsuspend
              - rt_sigtimedwait
              - rt_sigtimedwait_time64
              - rt_tgsigqueueinfo
              - sched_getaffinity
              - sched_getattr
              - sched_getparam
              - sched_get_priority_max
              - sched_get_priority_min
              - sched_getscheduler
              - sched_rr_get_interval
              - sched_rr_get_interval_time64
              - sched_setaffinity
              - sched_setattr
              - sched_setparam
              - sched_setscheduler
              - sched_yield
              - seccomp
              - select
              - semctl
              - semget
              - semop
              - semtimedop
              - semtimedop_time64
              - send
              - sendfile
              - sendfile64
              - sendmmsg
              - sendmsg
              - sendto
              - setfsgid
              - setfsgid32
              - setfsuid
              - setfsuid32
              - setgid
              - setgid32
              - setgroups
              - setgroups32
              - setitimer
              - setpgid
              - setpriority
              - setregid
              - setregid32
              - setresgid
              - setresgid32
              - setresuid
              - setresuid32
              - setreuid
              - setreuid32
              - setrlimit
              - set_robust_list
              - setsid
              - setsockopt
              - set_thread_area
              - set_tid_address
              - setuid
              - setuid32
              - setxattr
              - shmat
              - shmctl
              - shmdt
              - shmget
              - shutdown
              - sigaltstack
              - signalfd
              - signalfd4
              - sigprocmask
              - sigreturn
              - socket
              - socketcall
              - socketpair
              - splice
              - stat
              - stat64
              - statfs
              - statfs64
              - statx
              - symlink
              - symlinkat
              - sync
              - sync_file_range
              - syncfs
              - sysinfo
              - tee
              - tgkill
              - time
              - timer_create
              - timer_delete
              - timer_getoverrun
              - timer_gettime
              - timer_gettime64
              - timer_settime
              - timer_settime64
              - timerfd_create
              - timerfd_gettime
              - timerfd_gettime64
              - timerfd_settime
              - timerfd_settime64
              - times
              - tkill
              - truncate
              - truncate64
              - ugetrlimit
              - umask
              - uname
              - unlink
              - unlinkat
              - utime
              - utimensat
              - utimensat_time64
              - utimes
              - vfork
              - vmsplice
              - wait4
              - waitid
              - waitpid
              - write
              - writev
          # --- rootless BuildKit additions ---
          - action: SCMP_ACT_ALLOW
            names:
              - clone
              - clone3
              - unshare
              - setns
              - mount
              - umount
              - umount2
              - pivot_root
              - chroot
              - keyctl
              - add_key
              - request_key
              - fsopen
              - fsconfig
              - fsmount
              - fspick
              - open_tree
              - move_mount
              - mount_setattr
cluster:
  token: op://Zion/Talos/CLUSTER_TOKEN
  id: op://Zion/Talos/CLUSTER_ID
  secret: op://Zion/Talos/CLUSTER_SECRET
  controlPlane:
    endpoint: https://10.60.8.10:6443
  clusterName: kubernetes
  secretboxEncryptionSecret: op://Zion/Talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
  ca:
    crt: op://Zion/Talos/CLUSTER_CA_CRT
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: factory.talos.dev/metal-installer-secureboot/{{ schematic }}:{{ talos_version }}
provisioning:
  diskSelector:
    match: disk.transport == "nvme"
  wipe: false
---
apiVersion: v1alpha1
kind: ResolverConfig
nameservers:
  - address: 10.60.0.1
searchDomains:
  disableDefault: true
hostDNS:
  enabled: true
  forwardKubeDNSToHost: false
---
apiVersion: v1alpha1
kind: TimeSyncConfig
ntp:
  servers:
    - 162.159.200.1
    - 162.159.200.123
---
apiVersion: v1alpha1
kind: SysctlConfig
params:
  fs.inotify.max_user_watches: "1048576" # Watchdog
  fs.inotify.max_user_instances: "8192" # Watchdog
  net.core.rmem_max: "7500000" # Cloudflared | QUIC
  net.core.wmem_max: "7500000" # Cloudflared | QUIC
  net.ipv4.neigh.default.gc_thresh1: "4096" # Prevent ARP cache overflows
  net.ipv4.neigh.default.gc_thresh2: "8192" # Prevent ARP cache overflows
  net.ipv4.neigh.default.gc_thresh3: "16384" # Prevent ARP cache overflows
  user.max_user_namespaces: "11255" # User Namespaces
  net.ipv4.conf.all.accept_source_route: "0" # CIS §5.2.1 — disable IP source routing
  net.ipv4.conf.default.accept_source_route: "0" # CIS §5.2.1 — disable IP source routing
  net.ipv6.conf.all.accept_source_route: "0" # CIS §5.2.1 — disable IP source routing
  net.ipv6.conf.default.accept_source_route: "0" # CIS §5.2.1 — disable IP source routing
  net.ipv4.conf.all.accept_redirects: "0" # CIS §5.2.2 — disable ICMP redirects accept
  net.ipv4.conf.default.accept_redirects: "0" # CIS §5.2.2 — disable ICMP redirects accept
  net.ipv6.conf.all.accept_redirects: "0" # CIS §5.2.2 — disable ICMP redirects accept
  net.ipv6.conf.default.accept_redirects: "0" # CIS §5.2.2 — disable ICMP redirects accept
  net.ipv4.conf.all.secure_redirects: "0" # CIS §5.2.3 — disable secure ICMP redirects accept
  net.ipv4.conf.default.secure_redirects: "0" # CIS §5.2.3 — disable secure ICMP redirects accept
  net.ipv4.conf.all.log_martians: "1" # CIS §5.2.4 — log martian packets
  net.ipv4.conf.default.log_martians: "1" # CIS §5.2.4 — log martian packets
  net.ipv4.conf.all.send_redirects: "0" # CIS §5.1.1 — disable IP redirects send
  net.ipv4.conf.default.send_redirects: "0" # CIS §5.1.1 — disable IP redirects send
  # CIS §5.2.8 (rp_filter) — DEFERRED (Cilium native routing + BPF masq + DSR creates legitimate asymmetric paths). See SECURITY.md.
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
---
apiVersion: v1alpha1
kind: FilesystemTrimConfig
interval: 168h0m0s # one week
---
apiVersion: v1alpha1
kind: LinkConfig
name: ethSel0
mtu: 1500
routes:
  - gateway: 10.60.0.1
---
apiVersion: v1alpha1
kind: VLANConfig
name: ethSel0.30
vlanID: 30
parent: ethSel0
mtu: 1500
---
apiVersion: v1alpha1
kind: VLANConfig
name: ethSel0.25
vlanID: 25
parent: ethSel0
mtu: 1500
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 10.60.8.10
link: ethSel0
---
apiVersion: v1alpha1
kind: CRICustomizationConfig
name: cri-customization
content: |
  [plugins."io.containerd.cri.v1.images"]
    discard_unpacked_layers = false
  [plugins."io.containerd.cri.v1.runtime"]
    cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
    device_ownership_from_security_context = true
---
apiVersion: v1alpha1
kind: KubeNodeConfig
nodeIP:
  validSubnets:
    - 10.60.0.0/16
---
apiVersion: v1alpha1
kind: DiscoveryServiceConfig
name: default
endpoint: https://discovery.talos.dev/
---
apiVersion: v1alpha1
kind: KubePrismConfig
port: 7445
---
apiVersion: v1alpha1
kind: KubeTalosAPIAccessConfig
allowedRoles:
  - os:admin
allowedKubernetesNamespaces:
  - system-upgrade
---
apiVersion: v1alpha1
kind: KubeNetworkConfig
dnsDomain: cluster.local
podSubnets:
  - 10.42.0.0/16
  - fd00:42::/48
serviceSubnets:
  - 10.43.0.0/16
  - fd00:43::/112
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: rook-osd
provisioning:
  diskSelector:
    match: disk.transport == 'nvme' && system_disk
  grow: true
  minSize: 128GiB
  maxSize: 1TiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  grow: false
  minSize: 32GiB
  maxSize: 32GiB
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  grow: false
  minSize: 8GiB
  maxSize: 128GiB
