---
machine:
  type: controlplane
  ca:
    crt: op://Zion/Talos/MACHINE_CA_CRT
    key: op://Zion/Talos/MACHINE_CA_KEY
cluster:
  ca:
    crt: op://Zion/Talos/CLUSTER_CA_CRT
    key: op://Zion/Talos/CLUSTER_CA_KEY
  aggregatorCA:
    crt: op://Zion/Talos/CLUSTER_AGGREGATORCA_CRT
    key: op://Zion/Talos/CLUSTER_AGGREGATORCA_KEY
  serviceAccount:
    key: op://Zion/Talos/CLUSTER_SERVICEACCOUNT_KEY
  etcd:
    ca:
      crt: op://Zion/Talos/CLUSTER_ETCD_CA_CRT
      key: op://Zion/Talos/CLUSTER_ETCD_CA_KEY
    advertisedSubnets:
      - 10.60.0.0/16
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  node-role.kubernetes.io/control-plane: ""
---
apiVersion: v1alpha1
kind: KubeAPIServerConfig
image: registry.k8s.io/kube-apiserver:v1.37.0
certExtraSANs:
  - 127.0.0.1
  - 10.60.8.10
extraArgs:
  enable-aggregator-routing: "true"
  feature-gates: HPAScaleToZero=true
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: node
type: Node
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: rbac
type: RBAC
---
apiVersion: v1alpha1
kind: KubeAuthenticationConfig
configuration:
  anonymous:
    enabled: true
    conditions:
      - path: /livez
      - path: /readyz
      - path: /healthz
  jwt: []
---
apiVersion: v1alpha1
kind: KubeAdmissionControlConfig
name: PodSecurity
$patch: delete
---
apiVersion: v1alpha1
kind: KubeAuditPolicyConfig
configuration:
  apiVersion: audit.k8s.io/v1
  kind: Policy
  omitStages:
    - RequestReceived
  rules:
    - level: None
      nonResourceURLs:
        - /healthz*
        - /livez*
        - /readyz*
        - /version
        - /openapi*
    - level: None
      verbs: [get, update, patch, watch]
      resources:
        - group: coordination.k8s.io
          resources: [leases]
    - level: None
      users:
        - system:serviceaccount:kyverno:kyverno-cleanup-controller
      verbs: [create]
      resources:
        - group: authorization.k8s.io
          resources: [selfsubjectaccessreviews]
    - level: Metadata
      resources:
        - group: ""
          resources: [secrets]
    - level: Metadata
      verbs: [create, update, patch, delete, deletecollection]
      resources:
        - group: ""
          resources: [configmaps, serviceaccounts]
        - group: rbac.authorization.k8s.io
          resources: [roles, rolebindings, clusterroles, clusterrolebindings]
        - group: admissionregistration.k8s.io
          resources: [mutatingwebhookconfigurations, validatingwebhookconfigurations]
        - group: certificates.k8s.io
          resources: [certificatesigningrequests]
        - group: gateway.envoyproxy.io
          resources: [securitypolicies]
        - group: external-secrets.io
          resources: [externalsecrets, secretstores, clusterexternalsecrets, clustersecretstores]
    - level: Metadata
      resources:
        - group: ""
          resources: [pods/exec, pods/attach, pods/portforward, pods/proxy, pods/log]
    - level: Metadata
---
apiVersion: v1alpha1
kind: KubeControllerManagerConfig
image: registry.k8s.io/kube-controller-manager:v1.37.0
extraArgs:
  bind-address: 0.0.0.0
  feature-gates: HPAScaleToZero=true
---
apiVersion: v1alpha1
kind: KubeCoreDNSConfig
enabled: false
---
apiVersion: v1alpha1
kind: KubeEtcdEncryptionConfig
config:
  resources:
    - providers:
        - secretbox:
            keys:
              - name: key2
                secret: op://Zion/Talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
        - identity: {}
      resources:
        - secrets
---
apiVersion: v1alpha1
kind: KubeProxyConfig
enabled: false
image: registry.k8s.io/kube-proxy:v1.37.0
---
apiVersion: v1alpha1
kind: KubeSchedulerConfig
config:
  profiles:
    - schedulerName: default-scheduler
      plugins:
        score:
          disabled:
            - name: ImageLocality
      pluginConfig:
        - name: PodTopologySpread
          args:
            defaultingType: List
            defaultConstraints:
              - maxSkew: 1
                topologyKey: kubernetes.io/hostname
                whenUnsatisfiable: ScheduleAnyway
image: registry.k8s.io/kube-scheduler:v1.37.0
extraArgs:
  bind-address: 0.0.0.0
---
apiVersion: v1alpha1
kind: KubeTalosAPIAccessConfig
allowedRoles:
  - os:admin
allowedKubernetesNamespaces:
  - system-upgrade
