# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://10.60.8.10:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "10.60.8.10"
additionalMachineCertSans: *sans

clusterPodNets: ["10.42.0.0/16", "fd00:42::/48"]
clusterSvcNets: ["10.43.0.0/16", "fd00:43::/112"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "k8s-niobe"
    ipAddress: "10.60.85.10"
    installDisk: "/dev/nvme0n1"
    machineSpec:
      secureboot: false
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "00:24:27:88:e6:a8"
        dhcp: false
        addresses:
          - "10.60.85.10/16"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.60.0.1"
        mtu: 1500
        vip:
          ip: "10.60.8.10"
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/amdgpu
            - siderolabs/iscsi-tools
            - siderolabs/nfs-utils
            - siderolabs/realtek-firmware
            - siderolabs/util-linux-tools

  - hostname: "k8s-trinity"
    ipAddress: "10.60.85.11"
    installDisk: "/dev/nvme0n1"
    machineSpec:
      secureboot: true
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "04:0e:3c:92:31:01"
        dhcp: false
        addresses:
          - "10.60.85.11/16"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.60.0.1"
        mtu: 1500
        vip:
          ip: "10.60.8.10"
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/i915
            - siderolabs/intel-ucode
            - siderolabs/iscsi-tools
            - siderolabs/nfs-utils
            - siderolabs/util-linux-tools

  - hostname: "k8s-ghost"
    ipAddress: "10.60.85.12"
    installDisk: "/dev/nvme0n1"
    machineSpec:
      secureboot: true
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "58:47:ca:71:21:77"
        dhcp: false
        addresses:
          - "10.60.85.12/16"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.60.0.1"
        mtu: 1500
        vip:
          ip: "10.60.8.10"
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/amdgpu
            - siderolabs/iscsi-tools
            - siderolabs/nfs-utils
            - siderolabs/realtek-firmware
            - siderolabs/util-linux-tools

# Global patches
patches:
  - "@./patches/global/machine-api.yaml"
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-mounts.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"

# Controller patches
controlPlane:
  userVolumes:
    - name: longhorn
      provisioning:
        diskSelector:
          match: disk.transport == 'nvme'
        grow: true
        minSize: 128GiB
        maxSize: 1TiB
  volumes:
    - name: EPHEMERAL
      provisioning:
        diskSelector:
          match: system_disk
        grow: false
        minSize: 8GiB
        maxSize: 128GiB
  patches:
    - "@./patches/controller/admission-controller-patch.yaml"
    - "@./patches/controller/cluster.yaml"
