---
apiVersion: v1alpha1
kind: HostnameConfig
auto: 'off'
hostname: k8s-trinity
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: ethSel0
selector:
  match: glob("04:0e:3c:92:31:01", mac(link.hardware_addr))
---
apiVersion: v1alpha1
kind: LinkConfig
name: ethSel0
addresses:
  - address: 10.60.85.11/16
---
machine:
  logging:
    destinations:
      - endpoint: tcp://10.60.80.54:5142
        format: json_lines
