---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: forejo-runner
spec:
  chartRef:
    kind: OCIRepository
    name: forejo-runner
  interval: 1h
  values:
    fullnameOverride: forejo-runner
    runner:
      config:
        existingSecret: forejo-runner-token
        instance: "http://forejo-forgejo-http.default.svc.cluster.local:3000"
        name: home-ops-runner
        file:
          log:
            level: info
          runner:
            capacity: 2
            timeout: 3h
            labels:
              - "ubuntu-latest:docker://harbor.melotic.dev/ghcr/catthehacker/ubuntu:act-22.04"
              - "ubuntu-22.04:docker://harbor.melotic.dev/ghcr/catthehacker/ubuntu:act-22.04"
          cache:
            enabled: true
          container:
            privileged: false
            network: host
            force_pull: false
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
