---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: forejo-runner
spec:
  chartRef:
    kind: OCIRepository
    name: forejo-runner
  interval: 1h
  values:
    fullnameOverride: forejo-runner
    runner:
      config:
        existingSecret: forejo-runner-token
        instance: "https://git.${SECRET_DOMAIN}"
        name: home-ops-runner
        file:
          log:
            level: info
          runner:
            capacity: 2
            timeout: 3h
            labels:
              - "ubuntu-latest:docker://ghcr.io/catthehacker/ubuntu:act-latest"
              - "ubuntu-22.04:docker://ghcr.io/catthehacker/ubuntu:act-22.04"
          container:
            privileged: false
            options: "--add-host=git.${SECRET_DOMAIN}:host-gateway"

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
