---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: atuin
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: atuin-secret
    template:
      data:
        ATUIN_DB_URI: "postgres://app:{{ .password }}@postgres-cluster-rw.database.svc.cluster.local:5432/atuin"
  dataFrom:
    - extract:
        key: postgres
