---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
spec:
  chart:
    spec:
      chart: cloudnative-pg
      sourceRef:
        name: cloudnative-pg
        kind: HelmRepository
      version: 0.26.1
  install:
    crds: CreateReplace
  interval: 1h
  values:
    monitoring:
      grafanaDashboard:
        create: true
      podMonitorEnabled: true
