---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tailscale-operator
spec:
  chart:
    spec:
      chart: tailscale-operator
      sourceRef:
        name: tailscale
        kind: HelmRepository
      version: 1.94.2
  interval: 1h
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    operatorConfig:
      hostname: homelab-operator
      defaultTags:
        - tag:k8s-operator
    podAnnotations:
      secret.reloader.stakater.com/reload: operator-oauth
