# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/clusterexternalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: postgres-cluster-app
spec:
  externalSecretName: postgres-cluster-app
  namespaceSelectors:
    - matchLabels:
        kustomize.toolkit.fluxcd.io/name: cluster-apps
  externalSecretSpec:
    secretStoreRef:
      kind: ClusterSecretStore
      name: onepassword
    target:
      name: postgres-cluster-app
      creationPolicy: Owner
      template:
        type: kubernetes.io/basic-auth
        metadata:
          labels:
            cnpg.io/reload: "true"
        data:
          jdbc-uri: "jdbc:postgresql://postgres-cluster-rw.database:5432/app?password={{ .password }}&user=app"
          password: "{{ .password }}"
          pgpass: "postgres-cluster-rw.database:5432:app:app:{{ .password }}"
          uri: "postgresql://app:{{ .password }}@postgres-cluster-rw.database:5432/app"
          user: app
          username: app
          port: "5432"
          host: postgres-cluster-rw.database.svc.cluster.local
    dataFrom:
      - extract:
          key: postgres
